@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: poppins;
  background-color: rgb(42, 44, 53);
}

#navbar {
  display: grid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  grid-template-columns: 80px 80px 1fr 80px 80px 80px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . mail images menu sign-in";
  /* grid-template-rows: ". hamburger"; */
}

a {
  text-decoration: none;
  color: #fff;
}

#flooble {
  font-size: 8rem;
  color: #fff;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-self: center;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}
#mail {
  grid-area: mail;
  justify-self: center;
  align-self: center;
}
#images {
  grid-area: images;
  justify-self: center;
  align-self: center;
}
#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
}
#sign-in {
  grid-area: sign-in;
  justify-self: center;
  align-self: center;
}

#sign-in img {
  border-radius: 50%;
}

.hamburger-container {
  display: none;
}

.hamburger-icon {
  /* grid-area: hamburger; */
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  /* display: none; */
  /* display: absolute; */
}

.hamburger-icon:focus {
  /* outline: none; */
}

#main {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20rem 5rem 10rem;
  grid-template-areas:
    ". flooble ."
    ". search ."
    ". buttons .";
}

#flooble {
  grid-area: flooble;
  letter-spacing: 2rem;
}

#buttons {
  grid-area: buttons;

  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#flooble-search-btn {
  font-weight: 5rem;
  justify-self: flex-end;
  margin-right: 1rem;
}

#random-search {
  justify-self: flex-start;
  margin-left: 1rem;
}

.search-box {
  grid-area: search;
  justify-content: space-between;
  max-height: 60px;
  border-radius: 30px;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-box-left {
  justify-self: flex-start;
}

.search-box-left > i {
  font-size: 20px;
  cursor: pointer;
}

.search-box-left > input {
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  position: relative;
}

.search-icon {
  margin: 0 10px;
  justify-self: flex-start;
}

.mic-icon {
  justify-self: flex-end;
}

.mic-icon:hover {
  cursor: pointer;
}

.button {
  font-size: 1.5rem;
  width: 15rem;
  border-radius: 10px;
}

.button:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.button:active {
  background-color: #c5c5c5;
  transition-duration: 0.15s;
}

.color-text {
  color: rgb(62, 181, 151);
}

#footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(94, 99, 123);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.footer-left {
  grid-area: footer-left;
}

.footer-right {
  grid-area: footer-right;
}

#footer a {
  margin-left: 1.5rem;
}

a:hover {
  color: #cccccc;
  transition-duration: 0.25s;
}

/*

$desktop: 1200px;   // xl
$laptop: 1024px;   // lg
$tablet: 768px;    // md
$phone: 480px;    // sm

*/

/* Tablet */

/* @media (min-width: 481px) and (max-width: 768px) */

@media (min-width: 481px) and (max-width: 768px) {
  #flooble {
    font-size: 4.5rem;
    margin-top: 5rem;
  }

  /* #navbar button {
    display: none;
  } */

  #main {
  }
  .search-box {
    max-width: 40rem;
  }

  .button {
    font-size: 1rem;
    width: 10rem;
  }

  #flooble-search-btn {
    margin-left: 5rem;
  }

  #random-search {
    margin-right: 5rem;
  }

  #footer {
    font-size: 1rem;
  }
}

/* Mobile */

@media (max-width: 480px) {
  #main {
    grid-template-rows: 10rem 5rem;
  }

  #navbar {
    display: none;
  }

  .hamburger-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(82, 16, 16); */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* transition: transform 5s ease-in; */
    transition: 0.5s all ease;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }

  .hamburger-icon:hover {
    cursor: pointer;
  }

  .hamburger-links {
    display: none;
    background-color: rgb(80, 84, 105);
    flex-direction: column;
    padding-top: 50px;
    /* transition-duration: 5s; */
    /* transition: 0.5s all ease; */
  }

  .hamburger-links a {
    /* display: block; */
    padding: 10px 0 10px 20px;
  }

  .hamburger-links a:hover {
    cursor: pointer;
    color: rgb(62, 181, 151);
    background-color: rgb(18, 18, 29);
  }

  .hamburger-links.show {
    display: flex;
  }

  #flooble {
    justify-self: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .search-box {
    max-width: 29rem;
    display: flex;
  }
  .mic-icon {
    display: none;
  }
  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .button {
    font-size: 1rem;
    width: 15rem;
    height: 5rem;
  }
  #flooble-search-btn {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  #random-search {
    margin-left: 0;
    margin-top: 1rem;
  }

  #navbar {
  }

  #footer {
    display: grid;
    grid-template: "footer-right" "footer-left";
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    font-size: 1rem;
  }
  #footer a {
    margin: 0 1.5rem;
  }
} ;
