@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: poppins;
  background-color: rgb(42, 44, 53);
}

#navbar {
  display: grid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  grid-template-columns: 80px 80px 1fr 80px 80px 80px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . mail images menu sign-in";
}

a {
  text-decoration: none;
  color: #fff;
}

#flooble {
  font-size: 8rem;
  color: #fff;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-self: center;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}
#mail {
  grid-area: mail;
  justify-self: center;
  align-self: center;
}
#images {
  grid-area: images;
  justify-self: center;
  align-self: center;
}
#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
}
#sign-in {
  grid-area: sign-in;
  justify-self: center;
  align-self: center;
}

#sign-in img {
  border-radius: 50%;
}

#main {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20rem 80px 25rem;
  grid-template-areas:
    ". flooble ."
    ". search ."
    ". flex-box .";
}

#flex-box {
  padding: 50px;
  grid-area: flex-box;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 0fr;
  grid-template-rows: 0 4.5rem 0 0;
  grid-template-areas: ". . . ." ". flooble-search-btn random-search .";
}

#flooble {
  /* padding-top: 5rem; */
  grid-area: flooble;
  letter-spacing: 2rem;
}

/* Transfered grid area to .search-box. i created a box container or the search bar. CONTINUE*/

#search {
  /* grid-area: search; */
  border-radius: 80px;
}

#flooble-search-btn {
  font-weight: 5rem;
  grid-area: flooble-search-btn;
  margin-left: 10rem;
}

#random-search {
  grid-area: random-search;
  /* margin-left: 20px; */
}

.search-box {
  grid-area: search;
  width: 60rem;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  /* display: inline; */
}

.search-box > i {
  font-size: 20px;
}

.search-box > input {
  flex: 0;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  /* position: relative; */
}

.button {
  font-size: 1.5rem;
  width: 15rem;
  /* align-content: center; */
  /* justify-content: center; */
}

.search-icon {
  /* margin-right:; */
}

.mic-icon {
  padding-left: 41rem;
  /* position: relative; */
  /* align-content: flex-end; */
}

.color-text {
  color: rgb(62, 181, 151);
}

#footer {
  display: flex;
  background-color: rgb(94, 99, 123);
  display: grid;
  grid-template-columns: 150px 50px 0.95fr 100px 100px 70px;
  grid-template-areas: "advertising business . privacy terms settings";
}

#footer a {
  margin: 2rem;
}

#advertising {
  grid-area: advertising;
}

#business {
  grid-area: business;
}

#privacy {
  grid-area: privacy;
}

#terms {
  grid-area: terms;
}

#settings {
  grid-area: settings;
}
